@model IEnumerable<HospitalManagementMVC.Models.PatientModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientAdd</title>
</head>
<body>

    <form action="/Patient/Submit" method="post">
        Patient Name <input type="text" name="patientName" value="" /><br>
        Patient Problem <input type="text" name="patientProblem" value="" /><br>
        <input type="submit" name="Submit" value="Add Patient" />
    </form>
    <br><br>

    <table>

        <tr>
            <td>Name</td>
            <td>Problem</td>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.patientName</td>
                <td>@item.patientProblem</td>

            </tr>
        }

    </table>
</body>
</html>
